openapi: 3.2.0
info:
  title: EmailOctopus v2 Contact API
  description: '# Introduction


    The EmailOctopus API allows you to manage resources and perform actions within the platform programmatically.'
  version: 2.0.0
  x-logo:
    url: /build/images/logo.CRVwHzot.svg
    altText: EmailOctopus Logo
    href: '#'
servers:
- url: https://api.emailoctopus.com
  description: ''
security:
- api_key: []
tags:
- name: Contact
  description: 'A contact represents an individual person within a list. For instance someone who has subscribed to your weekly newsletter.

    Contacts contain essential information such as their email address, name and any additional data you have collected.

    Contacts can also have tags, participate in automations and receive campaigns.'
paths:
  /lists/{list_id}/contacts:
    get:
      operationId: api_lists_list_idcontacts_get
      tags:
      - Contact
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/List.contacts.collection-get'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#bad-request
                    default: https://emailoctopus.com/api-documentation/v2#bad-request
                    example: https://emailoctopus.com/api-documentation/v2#bad-request
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Bad request.
                  status:
                    type: string
                    description: Response status.
                    default: 400
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - detail
                      properties:
                        pointer:
                          type: string
                          description: A JSON Pointer [RFC6901] to the value in the request document that caused the error.
                          default: name
                        parameter:
                          type: string
                          description: Name of the url parameter containing the error.
                          default: list_id
                        detail:
                          type: string
                          description: Error description.
                          default: This value should be between 1 and 100.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#unauthorized
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Invalid key.
                  status:
                    type: string
                    description: Response status.
                    default: 401
        '403':
          description: Access denied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#access-denied
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Access denied.
                  status:
                    type: string
                    description: Response status.
                    default: 403
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#not-found
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource not found.
                  status:
                    type: string
                    description: Response status.
                    default: 404
      summary: Get contacts
      description: ''
      parameters:
      - name: list_id
        in: path
        description: The ID of the list.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: 00000000-0000-0000-0000-000000000000
      - name: limit
        in: query
        description: Max number of results per page.
        required: false
        deprecated: false
        schema:
          type: integer
          default: '100'
        style: form
        explode: true
        example: '100'
      - name: starting_after
        in: query
        description: Cursor that points to the end of the page.
        required: false
        deprecated: false
        schema:
          type: string
        style: form
        explode: true
        example: WyIyMDI0LTEyLTA3VDE1OjAzOjAxKzAwOjAwIiwiNDYzN2RmYTAtYjZmMC0xMWVmLWFjZDYtZjU5YjA4MDFlMjBkIl0
      - name: tag
        in: query
        description: The tag associated with the contact.
        required: false
        deprecated: false
        schema:
          type: string
        style: form
        explode: true
        example: vip
      - name: status
        in: query
        description: The status of the contact.
        required: false
        deprecated: false
        schema:
          type: string
          enum:
          - subscribed
          - unsubscribed
          - pending
          default: subscribed
        style: form
        explode: true
        example: subscribed
      - name: created_at.lte
        in: query
        description: Filter by creation date - less than or equal to. ISO 8601 date format.
        required: false
        deprecated: false
        schema:
          type: string
        style: form
        explode: true
        example: '2024-01-19T12:14:28Z'
      - name: created_at.gte
        in: query
        description: Filter by creation date - greater than or equal to. ISO 8601 date format.
        required: false
        deprecated: false
        schema:
          type: string
        style: form
        explode: true
        example: '2024-01-19T12:14:28Z'
      - name: last_updated_at.lte
        in: query
        description: Filter by update date - less than or equal to. ISO 8601 date format.
        required: false
        deprecated: false
        schema:
          type: string
        style: form
        explode: true
        example: '2024-01-19T12:14:28Z'
      - name: last_updated_at.gte
        in: query
        description: Filter by update date - greater than or equal to. ISO 8601 date format.
        required: false
        deprecated: false
        schema:
          type: string
        style: form
        explode: true
        example: '2024-01-19T12:14:28Z'
    put:
      operationId: api_lists_list_idcontacts_put
      tags:
      - Contact
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContact-get'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#bad-request
                    default: https://emailoctopus.com/api-documentation/v2#bad-request
                    example: https://emailoctopus.com/api-documentation/v2#bad-request
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Bad request.
                  status:
                    type: string
                    description: Response status.
                    default: 400
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - detail
                      properties:
                        pointer:
                          type: string
                          description: A JSON Pointer [RFC6901] to the value in the request document that caused the error.
                          default: name
                        parameter:
                          type: string
                          description: Name of the url parameter containing the error.
                          default: list_id
                        detail:
                          type: string
                          description: Error description.
                          default: This value should be between 1 and 100.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#unauthorized
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Invalid key.
                  status:
                    type: string
                    description: Response status.
                    default: 401
        '403':
          description: Access denied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#access-denied
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Access denied.
                  status:
                    type: string
                    description: Response status.
                    default: 403
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#not-found
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource not found.
                  status:
                    type: string
                    description: Response status.
                    default: 404
        '409':
          description: Conflict.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#conflict
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource already exists.
                  status:
                    type: string
                    description: Response status.
                    default: 409
        '422':
          description: Unprocessable content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type
                    example: https://emailoctopus.com/api-documentation/v2#unprocessable-content
                  title:
                    type: string
                    description: 'General error title: `An error occurred.`'
                    example: An error occurred.
                  detail:
                    type: string
                    description: 'Error description: `Unprocessable content.`'
                    example: Unprocessable content.
                  status:
                    type: string
                    description: 'Response status: `422`'
                    example: 422
                  errors:
                    type: array
                    description: Validation errors
                    items:
                      type: object
                      properties:
                        detail:
                          type: string
                          description: Error description.
                        pointer:
                          type: string
                          description: A JSON Pointer <a href="https://datatracker.ietf.org/doc/html/rfc7807" target="_blank">[RFC 7807]</a> to the value in the request document that caused the error.
                      example:
                        detail: This value is not a valid email address.
                        pointer: /email_address
      summary: Create or update contact
      description: This is an *upsert* endpoint. If the contact does not exist, it will be created. If the contact already exists, it will be updated.
      parameters:
      - name: list_id
        in: path
        description: The ID of the list.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: 00000000-0000-0000-0000-000000000000
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              description: ''
              deprecated: false
              required:
              - email_address
              properties:
                email_address:
                  type: string
                  description: The email address of the contact.
                  example: otto@example.com
                fields:
                  type: object
                  description: An object containing key/value pairs of field values, using the field's tag as the key.
                  additionalProperties:
                    description: The value of the field.
                    x-additionalPropertiesName: field tag
                    anyOf:
                    - type: string
                      title: Text
                      description: The value for a "text" field.
                    - type: integer
                      title: Number
                      description: The value for a "number" field.
                    - type: string
                      title: Date
                      description: The value for a "date" field.
                    - type: string
                      title: Single Choice
                      description: The value for a "choice_single" field.
                    - type: Array of strings
                      title: Multiple Choice
                      description: The value for a "choice_multiple" field.
                    - type: 'null'
                      title: Unset
                      description: Remove the field from the contact.
                  example:
                    referral: Otto
                    birthday: '2015-12-01'
                    how_many_pets: 2
                    fieldToRemove: null
                tags:
                  type: object
                  description: An object containing key/value pairs, where the key is the tag name and the value is true to add the tag or false to remove it. Tags that are not referenced in the object will not be updated.
                  additionalProperties:
                    type: boolean
                  example:
                    vip: true
                    tagToRemove: false
                status:
                  type: string
                  description: The status of the contact.
                  example: subscribed
                  enum:
                  - pending
                  - subscribed
                  - unsubscribed
        required: false
    post:
      operationId: api_lists_list_idcontacts_post
      tags:
      - Contact
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContact-get'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#bad-request
                    default: https://emailoctopus.com/api-documentation/v2#bad-request
                    example: https://emailoctopus.com/api-documentation/v2#bad-request
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Bad request.
                  status:
                    type: string
                    description: Response status.
                    default: 400
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - detail
                      properties:
                        pointer:
                          type: string
                          description: A JSON Pointer [RFC6901] to the value in the request document that caused the error.
                          default: name
                        parameter:
                          type: string
                          description: Name of the url parameter containing the error.
                          default: list_id
                        detail:
                          type: string
                          description: Error description.
                          default: This value should be between 1 and 100.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#unauthorized
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Invalid key.
                  status:
                    type: string
                    description: Response status.
                    default: 401
        '403':
          description: Access denied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#access-denied
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Access denied.
                  status:
                    type: string
                    description: Response status.
                    default: 403
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#not-found
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource not found.
                  status:
                    type: string
                    description: Response status.
                    default: 404
        '409':
          description: Conflict.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#conflict
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource already exists.
                  status:
                    type: string
                    description: Response status.
                    default: 409
        '422':
          description: Unprocessable content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type
                    example: https://emailoctopus.com/api-documentation/v2#unprocessable-content
                  title:
                    type: string
                    description: 'General error title: `An error occurred.`'
                    example: An error occurred.
                  detail:
                    type: string
                    description: 'Error description: `Unprocessable content.`'
                    example: Unprocessable content.
                  status:
                    type: string
                    description: 'Response status: `422`'
                    example: 422
                  errors:
                    type: array
                    description: Validation errors
                    items:
                      type: object
                      properties:
                        detail:
                          type: string
                          description: Error description.
                        pointer:
                          type: string
                          description: A JSON Pointer <a href="https://datatracker.ietf.org/doc/html/rfc7807" target="_blank">[RFC 7807]</a> to the value in the request document that caused the error.
                      example:
                        detail: This value is not a valid email address.
                        pointer: /email_address
      summary: Create contact
      description: ''
      parameters:
      - name: list_id
        in: path
        description: The ID of the list.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: 00000000-0000-0000-0000-000000000000
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              description: ''
              deprecated: false
              required:
              - email_address
              properties:
                email_address:
                  type: string
                  description: The email address of the contact.
                  example: otto@example.com
                fields:
                  type: object
                  description: An object containing key/value pairs of field values, using the field's tag as the key.
                  additionalProperties:
                    description: The value of the field.
                    x-additionalPropertiesName: field tag
                    anyOf:
                    - type: string
                      title: Text
                      description: The value for a "text" field.
                    - type: integer
                      title: Number
                      description: The value for a "number" field.
                    - type: string
                      title: Date
                      description: The value for a "date" field.
                    - type: string
                      title: Single Choice
                      description: The value for a "choice_single" field.
                    - type: Array of strings
                      title: Multiple Choice
                      description: The value for a "choice_multiple" field.
                    - type: 'null'
                      title: Unset
                      description: Remove the field from the contact.
                  example:
                    referral: Otto
                    birthday: '2015-12-01'
                    how_many_pets: 2
                    fieldToRemove: null
                tags:
                  type: array
                  description: An array of tags associated with the contact.
                  items:
                    type: string
                    example: vip
                status:
                  type: string
                  description: The status of the contact.
                  example: subscribed
                  enum:
                  - pending
                  - subscribed
                  - unsubscribed
        required: false
  /lists/{list_id}/contacts/batch:
    put:
      operationId: api_lists_list_idcontactsbatch_put
      tags:
      - Contact
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: array
                    items:
                      type: object
                      properties:
                        success:
                          type: boolean
                          description: Whether the contact was successfully updated.
                          example: true
                        data:
                          $ref: '#/components/schemas/ListContact-get'
                  errors:
                    type: array
                    items:
                      type: object
                      properties:
                        success:
                          type: boolean
                          description: Whether the contact was successfully updated.
                          example: false
                        id:
                          type: string
                          description: The ID of the contact.
                          example: 00000000-0000-0000-0000-000000000000
                        type:
                          type: string
                          description: The type of error.
                          example: invalid_field
                        title:
                          type: string
                          description: The title of the error.
                          example: Invalid field
                        detail:
                          type: string
                          description: The detail of the error.
                          example: The field "email_address" is invalid
                        status:
                          type: integer
                          description: The HTTP status code of the error.
                          example: 400
                        data:
                          type: 'null'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#bad-request
                    default: https://emailoctopus.com/api-documentation/v2#bad-request
                    example: https://emailoctopus.com/api-documentation/v2#bad-request
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Bad request.
                  status:
                    type: string
                    description: Response status.
                    default: 400
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - detail
                      properties:
                        pointer:
                          type: string
                          description: A JSON Pointer [RFC6901] to the value in the request document that caused the error.
                          default: name
                        parameter:
                          type: string
                          description: Name of the url parameter containing the error.
                          default: list_id
                        detail:
                          type: string
                          description: Error description.
                          default: This value should be between 1 and 100.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#unauthorized
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Invalid key.
                  status:
                    type: string
                    description: Response status.
                    default: 401
        '403':
          description: Access denied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#access-denied
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Access denied.
                  status:
                    type: string
                    description: Response status.
                    default: 403
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#not-found
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource not found.
                  status:
                    type: string
                    description: Response status.
                    default: 404
        '422':
          description: Unprocessable content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#unprocessable-content
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Unprocessable content.
                  status:
                    type: string
                    description: Response status.
                    default: 422
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - detail
                      properties:
                        pointer:
                          type: string
                          description: A JSON Pointer [RFC6901] to the value in the request document that caused the error.
                          default: name
                        parameter:
                          type: string
                          description: Name of the url parameter containing the error.
                          default: list_id
                        detail:
                          type: string
                          description: Error description.
                          default: This value should be between 1 and 100.
      summary: Update multiple list contacts
      description: ''
      parameters:
      - name: list_id
        in: path
        description: The ID of the list.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: 00000000-0000-0000-0000-000000000000
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListContactBatch-put'
        required: false
  /lists/{list_id}/contacts/{contact_id}:
    get:
      operationId: api_lists_list_idcontacts_contact_id_get
      tags:
      - Contact
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContact-get'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type
                    example: https://emailoctopus.com/api-documentation/v2#bad-request
                  title:
                    type: string
                    description: 'General error title: `An error occurred.`'
                    example: An error occurred.
                  detail:
                    type: string
                    description: 'Error description: `Bad request.`'
                    example: Bad request.
                  status:
                    type: string
                    description: 'Response status: `400`'
                    example: 400
                  errors:
                    type: array
                    description: Validation errors
                    items:
                      type: object
                      properties:
                        detail:
                          type: string
                          description: Error description.
                        parameter:
                          type: string
                          description: Name of the url parameter containing the error.
                      example:
                        detail: This value is not a valid UUID.
                        parameter: list_id
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#unauthorized
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Invalid key.
                  status:
                    type: string
                    description: Response status.
                    default: 401
        '403':
          description: Access denied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#access-denied
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Access denied.
                  status:
                    type: string
                    description: Response status.
                    default: 403
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#not-found
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource not found.
                  status:
                    type: string
                    description: Response status.
                    default: 404
      summary: Get contact
      description: ''
      parameters:
      - name: list_id
        in: path
        description: The ID of the list.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: 00000000-0000-0000-0000-000000000000
      - name: contact_id
        in: path
        description: The ID of the contact, or an MD5 hash of the lowercase version of the contact's email address.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: 631251b876fece73bc9dd647fe596d5f
    put:
      operationId: api_lists_list_idcontacts_contact_id_put
      tags:
      - Contact
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListContact-get'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#bad-request
                    default: https://emailoctopus.com/api-documentation/v2#bad-request
                    example: https://emailoctopus.com/api-documentation/v2#bad-request
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Bad request.
                  status:
                    type: string
                    description: Response status.
                    default: 400
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - detail
                      properties:
                        pointer:
                          type: string
                          description: A JSON Pointer [RFC6901] to the value in the request document that caused the error.
                          default: name
                        parameter:
                          type: string
                          description: Name of the url parameter containing the error.
                          default: list_id
                        detail:
                          type: string
                          description: Error description.
                          default: This value should be between 1 and 100.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#unauthorized
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Invalid key.
                  status:
                    type: string
                    description: Response status.
                    default: 401
        '403':
          description: Access denied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#access-denied
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Access denied.
                  status:
                    type: string
                    description: Response status.
                    default: 403
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#not-found
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource not found.
                  status:
                    type: string
                    description: Response status.
                    default: 404
        '409':
          description: Conflict.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#conflict
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource already exists.
                  status:
                    type: string
                    description: Response status.
                    default: 409
        '422':
          description: Unprocessable content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type
                    example: https://emailoctopus.com/api-documentation/v2#unprocessable-content
                  title:
                    type: string
                    description: 'General error title: `An error occurred.`'
                    example: An error occurred.
                  detail:
                    type: string
                    description: 'Error description: `Unprocessable content.`'
                    example: Unprocessable content.
                  status:
                    type: string
                    description: 'Response status: `422`'
                    example: 422
                  errors:
                    type: array
                    description: Validation errors
                    items:
                      type: object
                      properties:
                        detail:
                          type: string
                          description: Error description.
                        pointer:
                          type: string
                          description: A JSON Pointer <a href="https://datatracker.ietf.org/doc/html/rfc7807" target="_blank">[RFC 7807]</a> to the value in the request document that caused the error.
                      example:
                        detail: This value is not a valid email address.
                        pointer: /email_address
      summary: Update contact
      description: ''
      parameters:
      - name: list_id
        in: path
        description: The ID of the list.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: 00000000-0000-0000-0000-000000000000
      - name: contact_id
        in: path
        description: The ID of the contact, or an MD5 hash of the lowercase version of the contact's email address.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: 631251b876fece73bc9dd647fe596d5f
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: object
              description: ''
              deprecated: false
              properties:
                email_address:
                  type: string
                  description: The email address of the contact.
                  example: otto@example.com
                fields:
                  type: object
                  description: An object containing key/value pairs of field values, using the field's tag as the key.
                  additionalProperties:
                    description: The value of the field.
                    x-additionalPropertiesName: field tag
                    anyOf:
                    - type: string
                      title: Text
                      description: The value for a "text" field.
                    - type: integer
                      title: Number
                      description: The value for a "number" field.
                    - type: string
                      title: Date
                      description: The value for a "date" field.
                    - type: string
                      title: Single Choice
                      description: The value for a "choice_single" field.
                    - type: Array of strings
                      title: Multiple Choice
                      description: The value for a "choice_multiple" field.
                    - type: 'null'
                      title: Unset
                      description: Remove the field from the contact.
                  example:
                    referral: Otto
                    birthday: '2015-12-01'
                    how_many_pets: 2
                    fieldToRemove: null
                tags:
                  type: object
                  description: An object containing key/value pairs, where the key is the tag name and the value is true to add the tag or false to remove it. Tags that are not referenced in the object will not be updated.
                  additionalProperties:
                    type: boolean
                  example:
                    vip: true
                    tagToRemove: false
                status:
                  type: string
                  description: The status of the contact.
                  example: subscribed
                  enum:
                  - pending
                  - subscribed
                  - unsubscribed
        required: false
    delete:
      operationId: api_lists_list_idcontacts_contact_id_delete
      tags:
      - Contact
      responses:
        '204':
          description: No content.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#bad-request
                    default: https://emailoctopus.com/api-documentation/v2#bad-request
                    example: https://emailoctopus.com/api-documentation/v2#bad-request
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Bad request.
                  status:
                    type: string
                    description: Response status.
                    default: 400
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - detail
                      properties:
                        pointer:
                          type: string
                          description: A JSON Pointer [RFC6901] to the value in the request document that caused the error.
                          default: name
                        parameter:
                          type: string
                          description: Name of the url parameter containing the error.
                          default: list_id
                        detail:
                          type: string
                          description: Error description.
                          default: This value should be between 1 and 100.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#unauthorized
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Invalid key.
                  status:
                    type: string
                    description: Response status.
                    default: 401
        '403':
          description: Access denied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#access-denied
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Access denied.
                  status:
                    type: string
                    description: Response status.
                    default: 403
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#not-found
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource not found.
                  status:
                    type: string
                    description: Response status.
                    default: 404
      summary: Delete contact
      description: ''
      parameters:
      - name: list_id
        in: path
        description: The ID of the list.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: 00000000-0000-0000-0000-000000000000
      - name: contact_id
        in: path
        description: The ID of the contact, or an MD5 hash of the lowercase version of the contact's email address.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: 631251b876fece73bc9dd647fe596d5f
components:
  schemas:
    ListContactBatch-put:
      type: object
      properties:
        contacts:
          type: array
          items:
            $ref: '#/components/schemas/ListContactBatchItemResource-put'
    ListContact-get:
      type: object
      description: Get details of a contact of a list.
      properties:
        id:
          type: string
          description: The ID of the contact.
          example: 00000000-0000-0000-0000-000000000000
        email_address:
          type: string
          description: The email address of the contact.
          example: otto@example.com
        fields:
          type: object
          description: An object containing key/value pairs of field values.
          additionalProperties:
            description: The value of the field.
            x-additionalPropertiesName: field tag
            anyOf:
            - type: string
              title: Text
              description: The value for a "text" field.
            - type: integer
              title: Number
              description: The value for the "number" field.
            - type: string
              title: Date
              description: The value for a "date" field.
            - type: string
              title: Single Choice
              description: The value for a "choice_single" field.
            - type: Array of strings
              title: Multiple Choice
              description: The value for a "choice_multiple" field.
          example:
            referral: Otto
            birthday: '2015-12-01'
            how_many_pets: 2
        tags:
          type: array
          description: An array of tags associated with the contact.
          items:
            type: string
            example: vip
        status:
          type: string
          description: The status of the contact.
          example: subscribed
          enum:
          - pending
          - subscribed
          - unsubscribed
        created_at:
          type: string
          description: When the contact was created, in ISO 8601 format.
          example: '2015-12-01T12:59:37+00:00'
        last_updated_at:
          type: string
          description: When the contact was last updated, in ISO 8601 format.
          example: '2015-12-01T12:59:37+00:00'
      required:
      - email_address
    List.contacts.collection-get:
      type: object
      properties:
        data:
          type: array
          description: Collection of contacts.
          items:
            $ref: '#/components/schemas/ListContact-get'
        paging:
          type: object
          properties:
            next:
              type: object
              properties:
                url:
                  type: string
                  description: Next page url.
                  example: https://api.emailoctopus.com/lists/00000000-0000-0000-0000-000000000000/contacts?limit=10&starting_after=WzIsIjIwMjQtMDMtMTRUMTA6MTU6MjcrMDA6MDAiXQ
                starting_after:
                  type: string
                  description: Cursor that points to the end of the page.
                  example: WzIsIjIwMjQtMDMtMTRUMTA6MTU6MjcrMDA6MDAiXQ
    ListContactBatchItemResource-put:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: The ID of the contact.
          example: 00000000-0000-0000-0000-000000000000
        email_address:
          type: string
          description: The email address of the contact.
          example: otto@example.com
        fields:
          type: object
          description: An object containing key/value pairs of field values.
          additionalProperties:
            description: The value of the field.
            x-additionalPropertiesName: field tag
            anyOf:
            - type: string
              title: Text
              description: The value for a "text" field.
            - type: integer
              title: Number
              description: The value for the "number" field.
            - type: string
              title: Date
              description: The value for a "date" field.
            - type: string
              title: Single Choice
              description: The value for a "choice_single" field.
            - type: Array of strings
              title: Multiple Choice
              description: The value for a "choice_multiple" field.
          example:
            referral: Otto
            birthday: '2015-12-01'
            how_many_pets: 2
        tags:
          type: object
          description: An object containing key/value pairs, where the key is the tag name and the value is true to add the tag or false to remove it. Tags that are not referenced in the object will not be updated.
          additionalProperties:
            type: boolean
          example:
            vip: true
            tagToRemove: false
        status:
          type: string
          description: The status of the contact.
          example: subscribed
          enum:
          - pending
          - subscribed
          - unsubscribed
  securitySchemes:
    api_key:
      type: http
      description: You can obtain your API key at https://api.emailoctopus.com/developer/api-keys/create
      name: Authorization
      in: header
      scheme: bearer
