openapi: 3.2.0
info:
  title: EmailOctopus v2 Field API
  description: '# Introduction


    The EmailOctopus API allows you to manage resources and perform actions within the platform programmatically.'
  version: 2.0.0
  x-logo:
    url: /build/images/logo.CRVwHzot.svg
    altText: EmailOctopus Logo
    href: '#'
servers:
- url: https://api.emailoctopus.com
  description: ''
security:
- api_key: []
tags:
- name: Field
  description: 'Fields are custom data points associated with contacts within a specific list.

    You can create additional fields to capture specific information about your contacts, such as birthday, location, age or dietary preferences. These fields can be useful for sending more personalised and targeted emails.'
paths:
  /lists/{list_id}/fields:
    post:
      operationId: api_lists_list_idfields_post
      tags:
      - Field
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              schema:
                oneOf:
                - title: Text, number or date field
                  description: A field that accepts a single value.
                  type: object
                  properties:
                    label:
                      type: string
                      description: A human readable label for the field.
                      example: What is your hometown?
                    tag:
                      type: string
                      description: The ID used to reference the field in your emails.
                      example: Hometown
                    type:
                      type: string
                      description: The type of the field.
                      example: text
                      enum:
                      - text
                      - number
                      - date
                    fallback:
                      type:
                      - string
                      - null
                      description: A default value for the field, used in campaigns when there is no other value available.
                      example: Unknown
                  required:
                  - label
                  - tag
                  - type
                - title: Choice field
                  description: A field that accepts a single value from a list of choices.
                  type: object
                  properties:
                    label:
                      type: string
                      description: A human readable label for the field.
                      example: What is your hometown?
                    tag:
                      type: string
                      description: The ID used to reference the field in your emails.
                      example: Hometown
                    type:
                      type: string
                      description: The type of the field.
                      example: choice_single
                      enum:
                      - choice_single
                      - choice_multiple
                    choices:
                      type: array
                      description: An array of choices for the field.
                      items:
                        type: string
                      example:
                      - One
                      - Two
                    fallback:
                      type:
                      - string
                      - null
                      description: A default value for the field, used in campaigns when there is no other value available.
                      example: Unknown
                  required:
                  - label
                  - tag
                  - type
                  - choices
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#bad-request
                    default: https://emailoctopus.com/api-documentation/v2#bad-request
                    example: https://emailoctopus.com/api-documentation/v2#bad-request
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Bad request.
                  status:
                    type: string
                    description: Response status.
                    default: 400
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - detail
                      properties:
                        pointer:
                          type: string
                          description: A JSON Pointer [RFC6901] to the value in the request document that caused the error.
                          default: name
                        parameter:
                          type: string
                          description: Name of the url parameter containing the error.
                          default: list_id
                        detail:
                          type: string
                          description: Error description.
                          default: This value should be between 1 and 100.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#unauthorized
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Invalid key.
                  status:
                    type: string
                    description: Response status.
                    default: 401
        '403':
          description: Access denied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#access-denied
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Access denied.
                  status:
                    type: string
                    description: Response status.
                    default: 403
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#not-found
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource not found.
                  status:
                    type: string
                    description: Response status.
                    default: 404
        '409':
          description: Conflict.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#conflict
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource already exists.
                  status:
                    type: string
                    description: Response status.
                    default: 409
        '422':
          description: Unprocessable content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type
                    example: https://emailoctopus.com/api-documentation/v2#unprocessable-content
                  title:
                    type: string
                    description: 'General error title: `An error occurred.`'
                    example: An error occurred.
                  detail:
                    type: string
                    description: 'Error description: `Unprocessable content.`'
                    example: Unprocessable content.
                  status:
                    type: string
                    description: 'Response status: `422`'
                    example: 422
                  errors:
                    type: array
                    description: Validation errors
                    items:
                      type: object
                      properties:
                        detail:
                          type: string
                          description: Error description.
                        pointer:
                          type: string
                          description: A JSON Pointer <a href="https://datatracker.ietf.org/doc/html/rfc7807" target="_blank">[RFC 7807]</a> to the value in the request document that caused the error.
                      example:
                        detail: This value must be string type, int provided.
                        pointer: /tag
      summary: Create field
      description: ''
      parameters:
      - name: list_id
        in: path
        description: The ID of the list.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: 00000000-0000-0000-0000-000000000000
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              oneOf:
              - title: Text, number or date field
                description: A field that accepts a single value.
                type: object
                properties:
                  label:
                    type: string
                    description: A human readable label for the field.
                    example: What is your hometown?
                  tag:
                    type: string
                    description: The ID used to reference the field in your emails.
                    example: Hometown
                  type:
                    type: string
                    description: The type of the field.
                    example: text
                    enum:
                    - text
                    - number
                    - date
                  fallback:
                    type:
                    - string
                    - null
                    description: A default value for the field, used in campaigns when there is no other value available.
                    example: Unknown
                required:
                - label
                - tag
                - type
              - title: Choice field
                description: A field that accepts a single value from a list of choices.
                type: object
                properties:
                  label:
                    type: string
                    description: A human readable label for the field.
                    example: What is your hometown?
                  tag:
                    type: string
                    description: The ID used to reference the field in your emails.
                    example: Hometown
                  type:
                    type: string
                    description: The type of the field.
                    example: choice_single
                    enum:
                    - choice_single
                    - choice_multiple
                  choices:
                    type: array
                    description: An array of choices for the field.
                    items:
                      type: string
                    example:
                    - One
                    - Two
                  fallback:
                    type:
                    - string
                    - null
                    description: A default value for the field, used in campaigns when there is no other value available.
                    example: Unknown
                required:
                - label
                - tag
                - type
                - choices
        required: true
  /lists/{list_id}/fields/{tag}:
    put:
      operationId: api_lists_list_idfields_tag_put
      tags:
      - Field
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                oneOf:
                - title: Text, number or date field
                  description: A field that accepts a single value.
                  type: object
                  properties:
                    label:
                      type: string
                      description: A human readable label for the field.
                      example: What is your hometown?
                    tag:
                      type: string
                      description: The ID used to reference the field in your emails.
                      example: Hometown
                    type:
                      type: string
                      description: The type of the field.
                      example: text
                      enum:
                      - text
                      - number
                      - date
                    fallback:
                      type:
                      - string
                      - null
                      description: A default value for the field, used in campaigns when there is no other value available.
                      example: Unknown
                  required:
                  - label
                  - tag
                  - type
                - title: Choice field
                  description: A field that accepts a single value from a list of choices.
                  type: object
                  properties:
                    label:
                      type: string
                      description: A human readable label for the field.
                      example: What is your hometown?
                    tag:
                      type: string
                      description: The ID used to reference the field in your emails.
                      example: Hometown
                    type:
                      type: string
                      description: The type of the field.
                      example: choice_single
                      enum:
                      - choice_single
                      - choice_multiple
                    choices:
                      type: array
                      description: An array of choices for the field.
                      items:
                        type: string
                      example:
                      - One
                      - Two
                    fallback:
                      type:
                      - string
                      - null
                      description: A default value for the field, used in campaigns when there is no other value available.
                      example: Unknown
                  required:
                  - label
                  - tag
                  - type
                  - choices
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#bad-request
                    default: https://emailoctopus.com/api-documentation/v2#bad-request
                    example: https://emailoctopus.com/api-documentation/v2#bad-request
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Bad request.
                  status:
                    type: string
                    description: Response status.
                    default: 400
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - detail
                      properties:
                        pointer:
                          type: string
                          description: A JSON Pointer [RFC6901] to the value in the request document that caused the error.
                          default: name
                        parameter:
                          type: string
                          description: Name of the url parameter containing the error.
                          default: list_id
                        detail:
                          type: string
                          description: Error description.
                          default: This value should be between 1 and 100.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#unauthorized
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Invalid key.
                  status:
                    type: string
                    description: Response status.
                    default: 401
        '403':
          description: Access denied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#access-denied
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Access denied.
                  status:
                    type: string
                    description: Response status.
                    default: 403
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#not-found
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource not found.
                  status:
                    type: string
                    description: Response status.
                    default: 404
        '409':
          description: Conflict.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#conflict
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource already exists.
                  status:
                    type: string
                    description: Response status.
                    default: 409
        '422':
          description: Unprocessable content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type
                    example: https://emailoctopus.com/api-documentation/v2#unprocessable-content
                  title:
                    type: string
                    description: 'General error title: `An error occurred.`'
                    example: An error occurred.
                  detail:
                    type: string
                    description: 'Error description: `Unprocessable content.`'
                    example: Unprocessable content.
                  status:
                    type: string
                    description: 'Response status: `422`'
                    example: 422
                  errors:
                    type: array
                    description: Validation errors
                    items:
                      type: object
                      properties:
                        detail:
                          type: string
                          description: Error description.
                        pointer:
                          type: string
                          description: A JSON Pointer <a href="https://datatracker.ietf.org/doc/html/rfc7807" target="_blank">[RFC 7807]</a> to the value in the request document that caused the error.
                      example:
                        detail: This value must be string type, int provided.
                        pointer: /tag
      summary: Update field
      description: ''
      parameters:
      - name: list_id
        in: path
        description: The ID of the list.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: 00000000-0000-0000-0000-000000000000
      - name: tag
        in: path
        description: A unique identifier for a field.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: Hometown
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              title: Text, number or date field
              description: A field that accepts a single value.
              type: object
              properties:
                label:
                  type: string
                  description: A human readable label for the field.
                  example: What is your hometown?
                tag:
                  type: string
                  description: The ID used to reference the field in your emails.
                  example: Hometown
                type:
                  type: string
                  description: The type of the field.
                  example: text
                  enum:
                  - text
                  - number
                  - date
                fallback:
                  type:
                  - string
                  - null
                  description: A default value for the field, used in campaigns when there is no other value available.
                  example: Unknown
              required:
              - label
              - tag
              - type
        required: false
    delete:
      operationId: api_lists_list_idfields_tag_delete
      tags:
      - Field
      responses:
        '204':
          description: No content.
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type
                    example: https://emailoctopus.com/api-documentation/v2#bad-request
                  title:
                    type: string
                    description: 'General error title: `An error occurred.`'
                    example: An error occurred.
                  detail:
                    type: string
                    description: 'Error description: `Bad request.`'
                    example: Bad request.
                  status:
                    type: string
                    description: 'Response status: `400`'
                    example: 400
                  errors:
                    type: array
                    description: Validation errors
                    items:
                      type: object
                      properties:
                        detail:
                          type: string
                          description: Error description.
                        parameter:
                          type: string
                          description: Name of the url parameter containing the error.
                      example:
                        detail: This value is not a valid UUID.
                        parameter: list_id
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#unauthorized
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Invalid key.
                  status:
                    type: string
                    description: Response status.
                    default: 401
        '403':
          description: Access denied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#access-denied
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Access denied.
                  status:
                    type: string
                    description: Response status.
                    default: 403
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#not-found
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource not found.
                  status:
                    type: string
                    description: Response status.
                    default: 404
      summary: Delete field
      description: ''
      parameters:
      - name: list_id
        in: path
        description: The ID of the list.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: 00000000-0000-0000-0000-000000000000
      - name: tag
        in: path
        description: A unique identifier for a field.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: Hometown
components:
  securitySchemes:
    api_key:
      type: http
      description: You can obtain your API key at https://api.emailoctopus.com/developer/api-keys/create
      name: Authorization
      in: header
      scheme: bearer
