openapi: 3.2.0
info:
  title: EmailOctopus v2 Campaign API
  description: '# Introduction


    The EmailOctopus API allows you to manage resources and perform actions within the platform programmatically.'
  version: 2.0.0
  x-logo:
    url: /build/images/logo.CRVwHzot.svg
    altText: EmailOctopus Logo
    href: '#'
servers:
- url: https://api.emailoctopus.com
  description: ''
security:
- api_key: []
tags:
- name: Campaign
  description: A campaign is generally used to send a one-off, timely email to some or all of your subscribers. For example you may use a campaign to send the latest edition of your weekly newsletter, or to announce a new feature in your product.
paths:
  /campaigns:
    get:
      operationId: api_campaigns_get
      tags:
      - Campaign
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign.collection'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#bad-request
                    default: https://emailoctopus.com/api-documentation/v2#bad-request
                    example: https://emailoctopus.com/api-documentation/v2#bad-request
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Bad request.
                  status:
                    type: string
                    description: Response status.
                    default: 400
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - detail
                      properties:
                        pointer:
                          type: string
                          description: A JSON Pointer [RFC6901] to the value in the request document that caused the error.
                          default: name
                        parameter:
                          type: string
                          description: Name of the url parameter containing the error.
                          default: list_id
                        detail:
                          type: string
                          description: Error description.
                          default: This value should be between 1 and 100.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#unauthorized
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Invalid key.
                  status:
                    type: string
                    description: Response status.
                    default: 401
      summary: Get all campaigns
      description: ''
      parameters:
      - name: limit
        in: query
        description: Max number of results per page.
        required: false
        deprecated: false
        schema:
          type: integer
          default: '100'
        style: form
        explode: true
        example: '100'
      - name: starting_after
        in: query
        description: Cursor that points to the end of the page.
        required: false
        deprecated: false
        schema:
          type: string
        style: form
        explode: true
        example: WyIyMDI0LTEyLTA3VDE1OjAzOjAxKzAwOjAwIiwiNDYzN2RmYTAtYjZmMC0xMWVmLWFjZDYtZjU5YjA4MDFlMjBkIl0
  /campaigns/{campaign_id}:
    get:
      operationId: api_campaigns_campaign_id_get
      tags:
      - Campaign
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Campaign-get'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#bad-request
                    default: https://emailoctopus.com/api-documentation/v2#bad-request
                    example: https://emailoctopus.com/api-documentation/v2#bad-request
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Bad request.
                  status:
                    type: string
                    description: Response status.
                    default: 400
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - detail
                      properties:
                        pointer:
                          type: string
                          description: A JSON Pointer [RFC6901] to the value in the request document that caused the error.
                          default: name
                        parameter:
                          type: string
                          description: Name of the url parameter containing the error.
                          default: list_id
                        detail:
                          type: string
                          description: Error description.
                          default: This value should be between 1 and 100.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#unauthorized
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Invalid key.
                  status:
                    type: string
                    description: Response status.
                    default: 401
        '403':
          description: Access denied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#access-denied
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Access denied.
                  status:
                    type: string
                    description: Response status.
                    default: 403
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#not-found
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource not found.
                  status:
                    type: string
                    description: Response status.
                    default: 404
      summary: Get campaign
      description: ''
      parameters:
      - name: campaign_id
        in: path
        description: The ID of the campaign.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: 00000000-0000-0000-0000-000000000000
  /campaigns/{campaign_id}/reports:
    get:
      operationId: api_campaigns_campaign_idreports_get
      tags:
      - Campaign
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignReportContact.collection-get.report'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#bad-request
                    default: https://emailoctopus.com/api-documentation/v2#bad-request
                    example: https://emailoctopus.com/api-documentation/v2#bad-request
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Bad request.
                  status:
                    type: string
                    description: Response status.
                    default: 400
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - detail
                      properties:
                        pointer:
                          type: string
                          description: A JSON Pointer [RFC6901] to the value in the request document that caused the error.
                          default: name
                        parameter:
                          type: string
                          description: Name of the url parameter containing the error.
                          default: list_id
                        detail:
                          type: string
                          description: Error description.
                          default: This value should be between 1 and 100.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#unauthorized
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Invalid key.
                  status:
                    type: string
                    description: Response status.
                    default: 401
        '403':
          description: Access denied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#access-denied
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Access denied.
                  status:
                    type: string
                    description: Response status.
                    default: 403
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#not-found
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource not found.
                  status:
                    type: string
                    description: Response status.
                    default: 404
      summary: Campaign contact reports
      description: ''
      parameters:
      - name: campaign_id
        in: path
        description: The ID of the campaign.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: 00000000-0000-0000-0000-000000000000
      - name: limit
        in: query
        description: Max number of results per page.
        required: false
        deprecated: false
        schema:
          type: integer
          default: '100'
        style: form
        explode: true
        example: '100'
      - name: starting_after
        in: query
        description: Cursor that points to the end of the page.
        required: false
        deprecated: false
        schema:
          type: string
        style: form
        explode: true
        example: WyIyMDI0LTEyLTA3VDE1OjAzOjAxKzAwOjAwIiwiNDYzN2RmYTAtYjZmMC0xMWVmLWFjZDYtZjU5YjA4MDFlMjBkIl0
      - name: status
        in: query
        description: The status of the report.
        required: true
        deprecated: false
        schema:
          type: string
          enum:
          - bounced
          - clicked
          - complained
          - opened
          - sent
          - unsubscribed
          - not-opened
          - not-clicked
        style: form
        explode: true
        example: bounced
  /campaigns/{campaign_id}/reports/links:
    get:
      operationId: api_campaigns_campaign_idreportslinks_get
      tags:
      - Campaign
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignReportLink.collection-get'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#bad-request
                    default: https://emailoctopus.com/api-documentation/v2#bad-request
                    example: https://emailoctopus.com/api-documentation/v2#bad-request
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Bad request.
                  status:
                    type: string
                    description: Response status.
                    default: 400
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - detail
                      properties:
                        pointer:
                          type: string
                          description: A JSON Pointer [RFC6901] to the value in the request document that caused the error.
                          default: name
                        parameter:
                          type: string
                          description: Name of the url parameter containing the error.
                          default: list_id
                        detail:
                          type: string
                          description: Error description.
                          default: This value should be between 1 and 100.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#unauthorized
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Invalid key.
                  status:
                    type: string
                    description: Response status.
                    default: 401
        '403':
          description: Access denied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#access-denied
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Access denied.
                  status:
                    type: string
                    description: Response status.
                    default: 403
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#not-found
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource not found.
                  status:
                    type: string
                    description: Response status.
                    default: 404
      summary: Campaign links report
      description: ''
      parameters:
      - name: campaign_id
        in: path
        description: The ID of the campaign.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: 00000000-0000-0000-0000-000000000000
  /campaigns/{campaign_id}/reports/summary:
    get:
      operationId: api_campaigns_campaign_idreportssummary_get
      tags:
      - Campaign
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignSummaryReport'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#bad-request
                    default: https://emailoctopus.com/api-documentation/v2#bad-request
                    example: https://emailoctopus.com/api-documentation/v2#bad-request
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Bad request.
                  status:
                    type: string
                    description: Response status.
                    default: 400
                  errors:
                    type: array
                    items:
                      type: object
                      required:
                      - detail
                      properties:
                        pointer:
                          type: string
                          description: A JSON Pointer [RFC6901] to the value in the request document that caused the error.
                          default: name
                        parameter:
                          type: string
                          description: Name of the url parameter containing the error.
                          default: list_id
                        detail:
                          type: string
                          description: Error description.
                          default: This value should be between 1 and 100.
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#unauthorized
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Invalid key.
                  status:
                    type: string
                    description: Response status.
                    default: 401
        '403':
          description: Access denied.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#access-denied
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Access denied.
                  status:
                    type: string
                    description: Response status.
                    default: 403
        '404':
          description: Resource not found.
          content:
            application/json:
              schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Error type.
                    enum:
                    - https://emailoctopus.com/api-documentation/v2#not-found
                  title:
                    type: string
                    description: General error title.
                    default: An error occurred.
                  detail:
                    type: string
                    description: Error description.
                    default: Resource not found.
                  status:
                    type: string
                    description: Response status.
                    default: 404
      summary: Campaign summary report
      description: ''
      parameters:
      - name: campaign_id
        in: path
        description: The ID of the campaign.
        required: true
        deprecated: false
        schema:
          type: string
        style: simple
        explode: false
        example: 00000000-0000-0000-0000-000000000000
components:
  schemas:
    CampaignSummaryReport:
      type: object
      description: Get a summary of the campaign.
      properties:
        id:
          type: string
          description: The ID of the campaign.
          example: 00000000-0000-0000-0000-000000000000
        sent:
          type: int
          description: The number of contacts that were sent to.
          example: 200
        bounced:
          type: object
          description: Statistics related to bounces.
          properties:
            hard:
              type: int
              description: The number of contacts who hard bounced.
              example: 10
            soft:
              type: int
              description: The number of contacts who soft bounced.
              example: 5
        opened:
          type: object
          description: Statistics related to opens.
          properties:
            total:
              type: int
              description: The number of all opens.
              example: 110
            unique:
              type: int
              description: The number of unique opens.
              example: 85
        clicked:
          type: object
          description: Statistics related to clicks.
          properties:
            total:
              type: int
              description: The number of all opens.
              example: 110
            unique:
              type: int
              description: The number of unique opens.
              example: 85
        complained:
          type: int
          description: The number of contacts who complained.
          example: 50
        unsubscribed:
          type: int
          description: The number of contacts who unsubscribed.
          example: 25
    Campaign.collection:
      type: object
      description: Get a collection of Campaign items.
      properties:
        data:
          type: array
          description: Collection of Campaign items.
          items:
            $ref: '#/components/schemas/Campaign-get'
        paging:
          $ref: '#/components/schemas/PagingResource'
    Campaign-get:
      type: object
      description: Get details of a campaign.
      properties:
        id:
          type: string
          description: The ID of the campaign.
          example: 00000000-0000-0000-0000-000000000000
        status:
          type: string
          description: The status of the campaign.
          example: draft
          enum:
          - draft
          - sending
          - sent
          - error
        name:
          type: string
          description: The name of the campaign.
          example: New clients campaign
          maxLength: 255
        subject:
          type: string
          description: The subject of the campaign.
          example: Hello
          maxLength: 255
        to:
          type: array
          description: The ids of the lists the campaign was sent to.
          items:
            type: string
            example:
            - 00000000-0000-0000-0000-000000000000
        from:
          type: object
          description: The sender of the campaign.
          properties:
            name:
              type: string
              description: The name the campaign was sent from.
              example: Otto Octopus
            email_address:
              type: string
              description: The email address the campaign was sent from.
              example: otto@example.com
        content:
          type: object
          description: The content of the campaign.
          properties:
            html:
              type: string
              description: The campaign's HTML content.
              example: <html>Foo Bar</html>
        created_at:
          type: string
          description: When the campaign was created, in ISO 8601 format.
          example: '2015-12-01T12:59:37+00:00'
        sent_at:
          type: string
          description: When the campaign was sent, in ISO 8601 format.
          example: '2015-12-01T12:59:37+00:00'
    CampaignReportLink.collection-get:
      type: object
      description: Get information on the performance of links in the campaign.
      properties:
        data:
          type: array
          description: Collection of Campaign items.
          items:
            type: object
            properties:
              url:
                type: string
                description: Next page url.
                example: https://example.com/promo-1
              clicked_total:
                type: int
                description: The number of total clicks.
                example: 10
              clicked_unique:
                type: int
                description: The number of unique clicks.
                example: 7
    PagingNextResource:
      type: object
      properties:
        url:
          type: string
          description: Next page url.
          example: https://api.emailoctopus.com/lists?limit=10&starting_after=WyJiOWYyNjA5OC1kZjcxLTExZWUtOTQ4Zi00Yjc0NTg4MjVjYzAiXQ
        starting_after:
          type: string
          description: Cursor that points to the end of the page.
          example: WyJiOWYyNjA5OC1kZjcxLTExZWUtOTQ4Zi00Yjc0NTg4MjVjYzAiXQ
    PagingResource:
      type: object
      properties:
        next:
          $ref: '#/components/schemas/PagingNextResource'
    CampaignReportContact.collection-get.report:
      type: object
      description: Get campaign contact reports.
      properties:
        status:
          type: string
          description: Event status.
          example: opened
        data:
          type: array
          description: Details.
          items:
            type: object
            properties:
              contact_id:
                type: string
                description: The ID of the contact.
                example: 00000000-0000-0000-0000-000000000000
              contact_email_address:
                type: string
                description: The email address of the contact.
                example: otto@example.com
              occurred_at:
                type: string
                description: When the click occurred, in ISO 8601 format.
                example: '2015-12-01T12:59:37+00:00'
        paging:
          type: object
          properties:
            next:
              type: object
              properties:
                url:
                  type: string
                  description: Next page url.
                  example: https://api.emailoctopus.com/campaigns/00000000-0000-0000-0000-000000000000/reports?status=opened&limit=10&starting_after=WzE3MjI5OTU4MDQwMDAsIjhkMDkxYTVhLTVhZDYtMTFlZi1iNmU4LTA1NjU4NDdhN2NkYSJd
                starting_after:
                  type: string
                  description: Cursor that points to the end of the page.
                  example: WzE3MjI5OTU4MDQwMDAsIjhkMDkxYTVhLTVhZDYtMTFlZi1iNmU4LTA1NjU4NDdhN2NkYSJd
  securitySchemes:
    api_key:
      type: http
      description: You can obtain your API key at https://api.emailoctopus.com/developer/api-keys/create
      name: Authorization
      in: header
      scheme: bearer
